name = "Pathfinder"
uuid = "b1d3bc72-d0e7-4279-b92f-7fa5d6d2d454"
version = "0.9.30"
authors = ["Seth Axen <seth.axen@gmail.com> and contributors"]

[workspace]
projects = ["test"]

[deps]
ADTypes = "47edcb42-4c32-4615-8424-f2b9edc5f35b"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Folds = "41a02a25-b8f0-4f67-bc48-60067656b558"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
IrrationalConstants = "92d709cd-6900-40b7-9082-c6be49f344b6"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LogDensityProblems = "6fdf6af0-433a-55f7-b3ed-c6c6e0b8df7c"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
Optimization = "7f7a1694-90dd-40f0-9382-eb1efda571ba"
OptimizationBase = "bca83a33-5cc9-4baa-983d-23429ab6bcbb"
OptimizationOptimJL = "36348300-93cb-4f02-beb5-3c3902f8871e"
PDMats = "90014a1f-27ba-587c-ab20-58faa44d9150"
PSIS = "ce719bf2-d5d0-4fb9-925d-10a81b42ad04"
ProgressLogging = "33c8b6b6-d38a-422a-b730-caa89a2f386c"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
Transducers = "28d57a85-8fef-5791-bfe6-a80928e7c999"

[weakdeps]
AbstractMCMC = "80f14c24-f653-4e6a-9b94-39d6b0f70001"
Accessors = "7d9f7c33-5ae7-4f3b-8dc6-eff91059b697"
DynamicHMC = "bbc10e6e-7c05-544b-b16e-64fede858acb"
DynamicPPL = "366bfd00-2699-11ea-058f-f148b4cae6d8"
MCMCChains = "c7f686f2-ff18-58e9-bc7b-31028e88f75d"
Turing = "fce5fe82-541a-59a6-adf8-730c64b5f9a0"

[extensions]
PathfinderDynamicHMCExt = "DynamicHMC"
PathfinderTuringExt = ["AbstractMCMC", "Accessors", "DynamicPPL", "MCMCChains", "Turing"]

[compat]
ADTypes = "0.2.5, 1"
AbstractMCMC = "5.10"
Accessors = "0.1.12"
Distributions = "0.25.87"
DynamicHMC = "3.4.0"
DynamicPPL = "0.38.8, 0.39"
Folds = "0.2.9"
ForwardDiff = "0.10.26, 1"
IrrationalConstants = "0.1.1, 0.2"
LinearAlgebra = "1"
LogDensityProblems = "2.1.0"
MCMCChains = "6.0.2, 7"
Optim = "1.7.2, 2.0"
Optimization = "3.22, 4, 5"
OptimizationBase = "0.0.5, 1, 2, 3, 4, 5.0"
OptimizationOptimJL = "0.2.1, 0.3, 0.4"
PDMats = "0.11.35"
PSIS = "0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9"
ProgressLogging = "0.1.4"
Random = "1"
Requires = "1.1.3"
SciMLBase = "2.30"
Statistics = "1"
StatsBase = "0.33.17, 0.34"
Transducers = "0.4.81"
Turing = "0.41, 0.42"
julia = "1.10"
