name = "Pathfinder"
uuid = "b1d3bc72-d0e7-4279-b92f-7fa5d6d2d454"
authors = ["Seth Axen <seth.axen@gmail.com> and contributors"]
version = "0.7.3"

[deps]
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Folds = "41a02a25-b8f0-4f67-bc48-60067656b558"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
IrrationalConstants = "92d709cd-6900-40b7-9082-c6be49f344b6"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LogDensityProblems = "6fdf6af0-433a-55f7-b3ed-c6c6e0b8df7c"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
Optimization = "7f7a1694-90dd-40f0-9382-eb1efda571ba"
OptimizationOptimJL = "36348300-93cb-4f02-beb5-3c3902f8871e"
PDMats = "90014a1f-27ba-587c-ab20-58faa44d9150"
PSIS = "ce719bf2-d5d0-4fb9-925d-10a81b42ad04"
ProgressLogging = "33c8b6b6-d38a-422a-b730-caa89a2f386c"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
Transducers = "28d57a85-8fef-5791-bfe6-a80928e7c999"
UnPack = "3a884ed6-31ef-47d7-9d2a-63182c4928ed"

[compat]
Accessors = "0.1"
Distributions = "0.25"
DynamicPPL = "0.20, 0.21"
Folds = "0.2"
ForwardDiff = "0.10"
IrrationalConstants = "0.1.1, 0.2"
LogDensityProblems = "2"
MCMCChains = "5"
Optim = "1.4"
Optimization = "3"
OptimizationOptimJL = "0.1"
PDMats = "0.11"
PSIS = "0.2, 0.3, 0.4, 0.5, 0.6, 0.7"
ProgressLogging = "0.1.4"
Requires = "1"
SciMLBase = "1.8.1"
StatsBase = "0.33, 0.34"
Transducers = "0.4.5"
Turing = "0.21, 0.22, 0.23"
UnPack = "1"
julia = "1.6"

[extensions]
PathfinderDynamicHMCExt = "DynamicHMC"
PathfinderTuringExt = ["Accessors", "DynamicPPL", "MCMCChains", "Turing"]

[extras]
Accessors = "7d9f7c33-5ae7-4f3b-8dc6-eff91059b697"
DynamicHMC = "bbc10e6e-7c05-544b-b16e-64fede858acb"
DynamicPPL = "366bfd00-2699-11ea-058f-f148b4cae6d8"
MCMCChains = "c7f686f2-ff18-58e9-bc7b-31028e88f75d"
OptimizationNLopt = "4e6fcdb7-1186-4e1f-a706-475e75c168bb"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Turing = "fce5fe82-541a-59a6-adf8-730c64b5f9a0"

[targets]
test = ["OptimizationNLopt", "Test"]

[weakdeps]
Accessors = "7d9f7c33-5ae7-4f3b-8dc6-eff91059b697"
DynamicHMC = "bbc10e6e-7c05-544b-b16e-64fede858acb"
DynamicPPL = "366bfd00-2699-11ea-058f-f148b4cae6d8"
MCMCChains = "c7f686f2-ff18-58e9-bc7b-31028e88f75d"
Turing = "fce5fe82-541a-59a6-adf8-730c64b5f9a0"
