name: IntegrationTest
on:
  push:
    branches: [master]
    tags: [v*]
  pull_request:
jobs:
  test:
    name: ${{ matrix.package }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version: [1]
        os: [ubuntu-latest]
        arch: [x64]
        package:
          - DynamicHMC
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@v1
      - run: |
          julia --project=docs -e '
            using Pkg
            test_path = joinpath(pwd(), "test", "integration", "${{ matrix.package }}")
            Pkg.activate(PackageSpec(path=test_path))
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()
            include(joinpath(test_path, "runtests.jl"))'
